.w-100{
  width: 100%;
  height: 100%;
}

.bg-grid-color{
  background-color: rgb(33, 194, 194) !important;
}

.card-img-top{
  background-color: black;
  object-fit: contain;
  height: 300px !important;
}